@font-face {
  font-family: "es-icon"; /* Project id 3409862 */
  src: 
  /* url('iconfont.woff2?t=1652844784031') format('woff2'), */
       /* url('iconfont.woff?t=1652844784031') format('woff'), */
       url('iconfont.ttf?t=1652844784031') format('truetype');
}
@keyframes cuIcon-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.es-icon-animation-spin {
	-webkit-animation: cuIcon-spin 1s infinite linear;
	animation: cuIcon-spin 1s infinite linear;
  display: inline-block;
}
.es-icon {
  font-family: "es-icon" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.es-icon-shenfen:before {
  content: "\e74d";
}
.es-icon-qiyexinxi:before {
  content: "\e609";
}

.es-icon-dingwei:before {
  content: "\e60d";
}

.es-icon-dingwei1:before {
  content: "\e607";
}

.es-icon-zhiye:before {
  content: "\e604";
}


.es-icon-gouxuan:before {
  content: "\e60f";
}

.es-icon-gouxuan1:before {
  content: "\e65c";
}
.es-icon-loading:before {
  content: "\e65a";
}

.es-icon-fenxiang:before {
  content: "\e624";
}

.es-icon-kuaijie:before {
  content: "\e625";
}

.es-icon-saoyisao:before {
  content: "\e626";
}

.es-icon-shijian:before {
  content: "\e627";
}

.es-icon-sousuo:before {
  content: "\e628";
}

.es-icon-shijian3dian:before {
  content: "\e629";
}

.es-icon-bianji:before {
  content: "\e62a";
}

.es-icon-tishi-xianxing:before {
  content: "\e62b";
}

.es-icon-wendang:before {
  content: "\e62c";
}

.es-icon-wenjianjia:before {
  content: "\e62d";
}

.es-icon-weiguidang:before {
  content: "\e62e";
}

.es-icon-xiaoxi:before {
  content: "\e62f";
}

.es-icon-yiwen-xianxing:before {
  content: "\e630";
}

.es-icon-biaoqian:before {
  content: "\e631";
}

.es-icon-chengyuan:before {
  content: "\e632";
}

.es-icon-gengduo1:before {
  content: "\e633";
}

.es-icon-fuzhi:before {
  content: "\e634";
}

.es-icon-diannao:before {
  content: "\e635";
}

.es-icon-lianjie:before {
  content: "\e636";
}

.es-icon-daochu:before {
  content: "\e637";
}

.es-icon-dianzan:before {
  content: "\e638";
}

.es-icon-guanbi1:before {
  content: "\e639";
}

.es-icon-shouqi:before {
  content: "\e63a";
}

.es-icon-guanbi2:before {
  content: "\e63b";
}

.es-icon-quanxian:before {
  content: "\e63c";
}

.es-icon-gengduo2:before {
  content: "\e63d";
}

.es-icon-jinhangzhong:before {
  content: "\e63e";
}

.es-icon-rili:before {
  content: "\e63f";
}

.es-icon-shaixuan:before {
  content: "\e640";
}

.es-icon-paixu:before {
  content: "\e641";
}

.es-icon-liebiaoshitu:before {
  content: "\e642";
}

.es-icon-suoding:before {
  content: "\e643";
}

.es-icon-tianjia2:before {
  content: "\e644";
}

.es-icon-yanjing:before {
  content: "\e645";
}

.es-icon-shanchu:before {
  content: "\e646";
}

.es-icon-shouye:before {
  content: "\e647";
}

.es-icon-xiangshang:before {
  content: "\e648";
}

.es-icon-yanjing-yincang:before {
  content: "\e649";
}

.es-icon-yidongwenjianjia:before {
  content: "\e64a";
}

.es-icon-xiangxia:before {
  content: "\e64b";
}

.es-icon-shezhi:before {
  content: "\e64c";
}

.es-icon-jiesuo:before {
  content: "\e64d";
}

.es-icon-xiangyou:before {
  content: "\e64e";
}

.es-icon-xiangzuo:before {
  content: "\e64f";
}

.es-icon-shuaxin:before {
  content: "\e650";
}

.es-icon-xiazai:before {
  content: "\e651";
}

.es-icon-zhankai:before {
  content: "\e652";
}

.es-icon-xiangmu:before {
  content: "\e653";
}

.es-icon-shangchuan:before {
  content: "\e654";
}

.es-icon-shoucang:before {
  content: "\e655";
}

.es-icon-xuanzhong:before {
  content: "\e656";
}

.es-icon-tianjia1:before {
  content: "\e657";
}

.es-icon-yiwancheng:before {
  content: "\e658";
}

.es-icon-wanggeshitu:before {
  content: "\e659";
}

